select {
  display: inline-block;
  height: 25px;
}

.font {
  width: 195px;
  margin: 3px 3px 3px 0;
}

.font-size {
  width: 60px;
  margin: 3px 0 3px 3px;
}

.ws-btn {
  width: 24px;
  height: 24px;
  display: inline-block;
  padding: 5px;
}

.font-size-wrapper {
  float: right;
  margin-right: 5px;
}