<div class="edit-item-wrapper">
  <div class="wrapper">
    <select name="font" id="" class="font form-control">
      <option value="arial">arial</option>
      <option value="hiragino">hiragino</option>
    </select>
    <select name="font-size" id="" class="font-size form-control">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
  </div>
  <div class="wrapper">
    <img class="ws-btn borders" src="/assets/images/sheet/sheet-edit/borders.png">
    <img class="ws-btn fill-color" src="/assets/images/sheet/sheet-edit/fill-color.png">
    <img class="ws-btn bold" src="/assets/images/sheet/sheet-edit/bold.png">
    <img class="ws-btn italic" src="/assets/images/sheet/sheet-edit/italic.png">
    <img class="ws-btn underline" src="/assets/images/sheet/sheet-edit/underline.png">
    <img class="ws-btn strike-through" src="/assets/images/sheet/sheet-edit/strike-through.png">
    <img class="ws-btn font-color" src="/assets/images/sheet/sheet-edit/font-color.png">
    <div class="font-size-wrapper">
      <img class="ws-btn font-size-down" src="/assets/images/sheet/sheet-edit/font-size-down.png">
      <img class="ws-btn font-size-up" src="/assets/images/sheet/sheet-edit/font-size-up.png">
    </div>
  </div>
</div>