:host {
  display: block;
  height: calc(100% - 35px);
  overflow-y: scroll;
}

.table-header {
  height: 32px;
  overflow: hidden;

  table {
    margin-bottom: 0;

    thead {
      th {
        padding: 5px;

        &.check {
          width: 50px;
        }

        &.editing {
          width: 80px;
        }

        &.update-date,
        &.create-date {
          width: 180px;
        }
      }
    }
  }
}

.table-body {
  height: calc(100% - 38px);
  overflow-y: scroll;

  table {
    tbody {
      td {
        padding: 5px;
        border-top: none;
        border-bottom: 1px solid #ddd;

        &.check {
          width: 50px;
          text-align: center;

          label {
            width: 100%;
            margin-bottom: 0;
          }
        }

        &.name {
          cursor: pointer;
          outline: none;

          .icon {
            padding-bottom: 2px;
          }

          span {
            padding-left: 5px;
          }
        }

        &.editing {
          width: 80px;
        }

        &.update-date,
        &.create-date {
          width: 180px;
        }
      }
    }
  }
}
