:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;

  /deep/ {
    * {
      cursor: default;
    }

    .ws-btn:hover {
      background-color: rgba(51, 122, 183, 0.12);
    }

    .ws-btn:active {
      background-color: rgba(51, 122, 183, 0.35);
    }
  }
}
